body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.content-wrapper {
    display: flex;
}



.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.recipe-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-left: 38px;
    padding-right: 38px;
}

.left-side  {
    display: flex;
}

.nav-wrapper > .left-side > div  {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.recipe-link-wrapper {
    height: 22px;
    background: gainsboro;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black; 
}

.nav-link-wrapper a:hover {
    color: black;
}

.recipe-link-wrapper a {
    color: #311b01;
    text-decoration: none;
    transition: color 0.5s;
}

.recipe-link-wrapper:hover {
    border-bottom: 1px solid black; 
}

.recipe-link-wrapper a:hover {
    color: black;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 320px;
    width: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 2s;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 25%;
    margin-bottom: 20px;
    transition: 0.25s;
    opacity: 0%;
}

.subtitle {
    transition: 0.5s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

/* .img-text-wrapper:hover img {
    opacity: 100%;
} */



.portfolio-img-background:hover {
    transition: 4.5s;
    filter: hue-rotate(360deg);
}

.img-darken {
    transition: 1.5s;
    filter: invert(1) hue-rotate(90deg);

}

.p-text {
    padding-left: 38px;

}

p {
    text-align: left;
    padding-left: 6px;
}

.mix-list {
    font-style: italic;
}

h3 {
    color:  rgb(50, 50, 50);
    height: 10px;
    text-indent: 6px;
    text-shadow: 0.25px 0.25px 1px rgb(100, 100, 100);    
}

h2 {
    color:  rgb(75, 75, 75);
    height: 20px;
    text-shadow: 0.25px 0.25px 1px rgb(100, 100, 100);

}

h1 {
    color:  rgb(85, 85, 85);
    height: 35px;
    font-size: 3em;
    text-shadow: 1px 1px 4px rgb(85, 85, 85);
    block-size: fit-content;
}